<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ li.title }}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/manageBase.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/macarons.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">vote system</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Index</a></li>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="heading" style="color: #00b4ef">{{ li.title }}<br>感谢您投出宝贵的一票</div>
            <div class="list-group">
                {% for x in li.info %}
                <div class="list-group-item">{{ x.content }}
                    <span class="badge">{{ x.value }}票</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container" id="chart" style="width: 100%; height: 400px"></div>
</body>
<script>
    var chart = echarts.init(document.getElementById("chart"), 'macarons');
    window.onresize = function(){
        chart.resize()
    };
    chart.setOption({
        title : {
            text: '{{ li.title }}',
            left:'center'
        },
        series: [
            {
                name: '{{ li.title }}',
                type: 'pie',
                radius: '80%',
                label: {
                    position: 'inner',
                    normal: {
                        formatter: '{b}: {c}票: ({d}%)'
                    }
                },
                data:[
                    {% for x in li.info %}
                    {value: '{{ x.value }}', name: '{{ x.content }}'},
                    {% endfor %}
                ]
            }
        ],
        tooltip: {
            formatter: '{b}: {c}票: ({d}%)'
        }
    })
</script>
</html>